    		
	/* toggle in label designing */ 
    .toggle { 
        position : relative ; 
        display : inline-block; 
        width : 115px; 
        height : 35px; 
        background-color: #949090; 
        border-radius: 50%; 
        border: 2px solid gray; 
    } 
            
    /* After slide changes */ 
    .toggle:after { 
        content: ''; 
        position: absolute; 
        width: 53px; 
        height: 27px; 
        border-radius: 70%; 
        background-color:  #1795e9; 
        top: 1px; 
        left: 1px; 
        transition: all 0.5s; 
    } 
            
    /* Toggle text */ 
    p { 
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bold; 
    } 
            
    /* Checkbox cheked effect */ 
    .checkbox:checked + .toggle::after { 
        left : 57px; 
        background-color:#10bed4 ;
    } 
            
    /* Checkbox cheked toggle label bg color */ 
    .checkbox:checked + .toggle { 
        background-color:#949090; 
    } 
            
    /* Checkbox vanished */ 
    .checkbox { 
      visibility: hidden;
    }






    


    *{  
        margin: 0;
        padding: 0;
        box-sizing: border-box;            
    }
    body{
        
        background: url('stefan-stefancik-0wMmxNB6Xzc-unsplash.jpg');
        
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        height: 130vh;
        width: 50%;
        font-family: poppins;
        
       
                 
    }
    

    a{
        text-decoration: none;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
            }
    header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 14px;
    }
    .logo{
        cursor: pointer;
    }
    .nav-area{
        list-style: none;
    }
    .nav-area li{
        display: inline-block;
        padding: 0 15px;
        text-transform: uppercase;
    }
    .nav-area li a{
        transition: all .3s ease 0s;
        color: #fff;
    }
    .nav-area li a:hover{
        color: #008712;
    }
    .btn-area {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 10px 30px;
        border-radius: 5px;
        background: #006C87;            
    }


    .navbar-brand23
{
    position: relative;
    width: 250px;
    left: 10px;
 
}



.thumbs 
    width:100%;
    height:100%;
    position: static;
    display:inline-block;
    overflow:hidden;
    padding: 20px;
}


